<template>
  <nav class="row bg-success p-2 d-flex justify-content-center flex-wrap">
    <button class="m-3" v-on:click="setPage('home')">Accueil</button>
    <button class="m-3" v-on:click="setPage('search')">Recherche</button>
    <button class="m-3" v-on:click="setPage('settings')">Paramètre</button>
    <button class="m-3" v-on:click="setPage('stats')">Statistique</button>
  </nav>
</template>

<script>
export default {
  name: "Nav",
  methods: {
    setPage(name) {
      this.$parent.page = name;
    }
  }
}
</script>

<style scoped>
button {
  padding: 1em;
  margin: 0 1em;
  border: 0;
  background: #42b983;
  color: #fff;
  width: 10em;
  font-size: 1em;
}

button:active {
  background: #64dba5;
}
</style>