<template>
  <div v-bind:id="this.$parent.stringToSlug(spell[0] + spell[1])" aria-hidden="true" class="modal fade"
       tabindex="-1" v-bind:aria-labelledby="this.$parent.stringToSlug(spell[0] + spell[1])">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 v-bind:id="this.$parent.stringToSlug(spell[0] + spell[1])" class="modal-title">{{ spell[1] }}</h5>
          <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
        </div>
        <div class="modal-body">
          <p>{{ spell[12] }}</p>
          <p>{{ spell[13] }}</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Fermer</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "SearchTableModal",
  props: ['spell']
}
</script>

<style scoped>

</style>