<template>
  <thead>
  <tr>
    <th v-for="name in headTable" :key="name">{{ name }}</th>
  </tr>
  </thead>
</template>

<script>
export default {
  name: "SearchTableHead",
  props: ['headTable']
}
</script>

<style scoped>

</style>