<template>
  <section>
    <h1>Recherche</h1>
    <br>
    <SearchForm v-bind:booksName="booksName" v-bind:headTable="headTable" v-bind:schoolsName="schoolsName"
                v-bind:spellTable="spellTable"/>
    <br>
    <SearchTable v-bind:headTable="headTable" v-bind:spellTablePage="spellTablePage"/>
    <br>
    <div v-if="endPage > 0" class="d-flex justify-content-evenly align-items-center">
      <button id="previousPage" class="btn btn-secondary rounded-circle text-white" type="button"
              v-on:click="previousPage()"><i class="fas fa-arrow-circle-left"></i></button>
      <p>{{ page }} / {{ endPage }}</p>
      <button id="nextPage" class="btn btn-secondary rounded-circle text-white" type="button" v-on:click="nextPage()"><i
          class="fas fa-arrow-circle-right"></i></button>
    </div>
  </section>
</template>

<script>
import SearchTable from "@/components/SearchTable";
import SearchForm from "@/components/SearchForm";

export default {
  name: "Search",
  components: {SearchForm, SearchTable},
  props: ['spellTable', 'booksName', 'schoolsName', 'headTable'],
  data() {
    return {
      currentPage: 0,
      endPage: 0,
      offset: 10,
      spellTableSort: [],
      spellTablePage: []
    }
  },
  methods: {
    changeStyleButtonPages() {
      this.endPage = Math.ceil(this.spellTableSort.length / this.offset) - 1;
      if (this.page !== this.endPage) {
        document.querySelector('#nextPage').removeAttribute('disabled');
      } else {
        document.querySelector('#nextPage').setAttribute('disabled', '');
      }
      if (this.page !== 0) {
        document.querySelector('#previousPage').removeAttribute('disabled');
      } else {
        document.querySelector('#previousPage').setAttribute('disabled', '');
      }
      if (this.page === 0 && this.page === this.endPage) {
        document.querySelector('#previousPage').setAttribute('disabled', '');
        document.querySelector('#nextPage').setAttribute('disabled', '');
      }
    },
    nextPage() {
      this.endPage = Math.ceil(this.spellTableSort.length / this.offset) - 1;
      if (this.page !== this.endPage) {
        this.currentPage++;
        this.changeStyleButtonPages();
        this.getSpellTablePage();
      }
    },
    previousPage() {
      if (this.page !== 0) {
        this.currentPage--;
        this.changeStyleButtonPages();
        this.getSpellTablePage();
      }
    },
    updateSpellTableSort(param = null) {
      let booksName = JSON.parse(localStorage.getItem('booksName'));
      this.spellTableSort = [];
      if (booksName !== null) {
        booksName.forEach(name => {
          this.spellTableSort = this.spellTableSort.concat(this.spellTable.filter(elem => elem[0] === name));
        });
        if (param !== null) {
          if (param[0] !== 'default' && param[1] !== '') { // RECHERCHE
            let regex = new RegExp(param[1], 'i');
            this.spellTableSort = this.spellTableSort.filter(elem => regex.test(elem[this.headTable.indexOf(param[0])]));
          }
          if (param[2] !== 'default') { // LIVRE
            this.spellTableSort = this.spellTableSort.filter(elem => elem[0] === param[2]);
          }
          if (param[3] !== 'default') { // ECOLE
            this.spellTableSort = this.spellTableSort.filter(elem => elem[2] === param[3]);
          }
          this.offset = param[4];
        }
      }
      this.getSpellTablePage();
    },
    getSpellTablePage() {
      let begin = this.currentPage * this.offset;
      this.endPage = Math.ceil(this.spellTableSort.length / this.offset) - 1;
      if (this.page === this.endPage) {
        this.spellTablePage = this.spellTableSort.slice(begin);
      } else {
        this.spellTablePage = this.spellTableSort.slice(begin, begin + this.offset);
      }
      this.changeStyleButtonPages();
    }
  },
  computed: {
    page() {
      return this.currentPage;
    }
  },
  mounted() {
    this.updateSpellTableSort();
    this.changeStyleButtonPages();
  }
}
</script>

<style scoped>

</style>