<template>
  <form class="m-3">

    <div class="mb-4">
      <div>
        <select v-model="selectSearch" class="form-select" v-on:change="generateResult()">
          <option value="default">Aucune recherche</option>
          <option v-for="name in this.headTable" :key="name" v-bind:value="name">{{ name }}</option>
        </select>
        <input v-if="selectSearch !== 'default'" v-model="textSearch" aria-describedby="searchHelp" class="form-control mt-4" placeholder="Saisir votre recherche" type="search" v-on:change="generateResult()">
      </div>
      <div id="searchHelp" class="form-text">Afin de pouvoir réaliser la recherche, veuillez indiquer le champs à rechercher.</div>
    </div>

    <div class="d-flex justify-content-between">
      <div>
        <label>
          Résultat par page :
          <select v-model="selectNbrDisplay" class="form-select" v-on:change="generateResult()">
            <option value="10">10</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="500">500</option>
            <option value="1000">1000</option>
          </select>
        </label>
      </div>

      <div>
        <label>
          Sélectionner un livre :
          <select v-model="selectBook" class="form-select" v-on:change="generateResult()">
            <option value="default">Aucun livre</option>
            <option v-for="bookName in this.bookNamePossible" :key="bookName" v-bind:value="bookName">{{
                bookName
              }}
            </option>
          </select>
        </label>
        <div id="searchHelp" class="form-text">(Choisir les livres dans l'onglet paramètre)</div>
      </div>


      <div>
        <label>
          Sélectionner une école :
          <select v-model="selectSchool" class="form-select" v-on:change="generateResult()">
            <option value="default">Aucune école</option>
            <option v-for="schoolName in this.schoolsName" :key="schoolName" v-bind:value="schoolName">{{
                schoolName
              }}
            </option>
          </select>
        </label>
      </div>
    </div>

  </form>
</template>

<script>
export default {
  name: "SearchForm",
  props: ['spellTable', 'booksName', 'schoolsName', 'headTable'],
  data() {
    return {
      selectSearch: "default",
      textSearch: '',
      selectBook: "default",
      selectSchool: "default",
      selectNbrDisplay: "10",
      bookNamePossible: []
    }
  },
  methods: {
    generateResult() {
      this.$parent.updateSpellTableSort([this.selectSearch, this.textSearch, this.selectBook, this.selectSchool, this.selectNbrDisplay]);
    }
  },
  mounted() {
    this.bookNamePossible = JSON.parse(localStorage.getItem('booksName'));
  }
}
</script>

<style scoped>

</style>