<template>
  <div>
    <table class="table table-responsive table-striped">
      <SearchTableHead v-bind:headTable="headTable"/>
      <tbody>
      <SearchTableLine v-for="spell in dataPage" :key="spell" v-bind:spell="spell"/>
      <tr v-if="dataPage.length < 1">
        <td colspan="12">Aucune données</td>
      </tr>
      </tbody>
    </table>
    <SearchTableModal v-for="spell in dataPage" :key="spell" v-bind:spell="spell"/>
  </div>
</template>

<script>
import SearchTableHead from "@/components/SearchTableHead";
import SearchTableLine from "@/components/SearchTableLine";
import SearchTableModal from "@/components/SearchTableModal";

export default {
  name: "Table",
  components: {SearchTableHead, SearchTableLine, SearchTableModal},
  props: ['spellTablePage', 'headTable'],
  methods: {
    stringToSlug(text) {
      return text.toLowerCase().replace(/ /g, '-').replace(/[^\w-]+/g, '');
    }
  },
  computed: {
    dataPage() {
      return this.spellTablePage;
    }
  }
}
</script>

<style scoped>

</style>