<template>
  <tr>
    <!-- NOM DU LIVRE -->
    <td>{{ spell[0] }}</td>
    <td>{{ spell[1] }}</td>
    <td>{{ spell[2] }}</td>
    <td>
      <p v-for="car in spell[3]" :key="car">
        {{ car }}
      </p>
    </td>
    <td>
      <p v-for="classLevel in spell[4]" :key="classLevel">
        {{ classLevel[0] }} - {{ classLevel[1] }}
      </p>
    </td>
    <td>
      <p v-for="cmp in spell[5]" :key="cmp">
        {{ cmp }}
      </p>
    </td>
    <td>{{ spell[6] }}</td>
    <td>{{ spell[7] }}</td>
    <td>{{ spell[8] }}</td>
    <td>{{ spell[9] }}</td>
    <td>{{ spell[10] }}</td>
    <td>{{ spell[11] }}</td>
    <td>
      <button class="btn btn-primary" data-bs-toggle="modal" type="button"
              v-bind:data-bs-target="'#' + this.$parent.stringToSlug(spell[0] + spell[1])">
        <i class="fas fa-eye"></i>
      </button>
    </td>
    <!--    <td>{{ spell[12] }}</td>-->
    <!--    <td>{{ spell[13] }}</td>-->
  </tr>
</template>

<script>
export default {
  name: "SearchTableLine",
  props: ['spell']
}
</script>

<style scoped>

</style>