<template>
  <section>
    <h1>Configuration</h1>
    <form>
      <div v-for="bookName in booksName" :key="bookName">
        <label>
          <input v-bind:id="bookName" v-model="checkedNames" type="checkbox" v-bind:value="bookName"
                 v-on:change="updateBooksName()"/>
          {{ bookName }}
        </label>
      </div>
      <br>
    </form>
  </section>
</template>

<script>
export default {
  name: "Settings",
  props: ['booksName'],
  data() {
    return {
      checkedNames: []
    }
  },
  mounted() {
    let tableNameBooksSave = JSON.parse(localStorage.getItem('booksName'));
    if (tableNameBooksSave != null) {
      tableNameBooksSave.forEach(element => {
        document.getElementById(element).checked = true;
      });
    }
  },
  methods: {
    updateBooksName() {
      let tableNameBooksNew = JSON.parse(JSON.stringify(this.checkedNames));
      let tableNameBooksOld = JSON.parse(localStorage.getItem('booksName'));
      localStorage.setItem('booksName', null);
      if (tableNameBooksOld != null) {
        tableNameBooksOld.forEach(element => {
          let inputCheck = document.getElementById(element);
          if (inputCheck.checked && (tableNameBooksNew.indexOf(element) === -1)) {
            tableNameBooksNew.push(inputCheck.value);
          }
        });
      }
      localStorage.setItem('booksName', JSON.stringify(tableNameBooksNew));
    }
  }
}
</script>

<style scoped>
form > div {
  width: 13em;
  margin: 0 auto;
  text-align: left;
}
</style>