<template>
  <section>
    <h1>Statistique</h1>
    <div class="d-flex flex-wrap">
      <div class="card bg-light mb-3 col">
        <div class="card-header">Nombre de sort pour un livre</div>
        <div class="card-body">
          <h5 class="card-title">
            {{ this.getNbrSpellFromBook(bookKey) }}
          </h5>
          <p class="card-text">
            <select v-model="bookKey" name="book" v-on:change="getNbrSpellFromBook()">
              <option v-for="bookName in this.booksName" :key="bookName" v-bind:value="bookName">{{ bookName }}</option>
            </select>
          </p>
        </div>
      </div>

      <div class="card bg-light mb-3 col">
        <div class="card-header">Nombre de sort pour une école</div>
        <div class="card-body">
          <h5 class="card-title">
            {{ this.getNbrSpellFromSchool(schoolKey) }}
          </h5>
          <p class="card-text">
            <select v-model="schoolKey" name="book" v-on:change="getNbrSpellFromSchool()">
              <option v-for="spell in this.schoolsName" :key="spell" v-bind:value="spell">{{ spell }}</option>
            </select>
          </p>
        </div>
      </div>

      <div class="card bg-light mb-3 col">
        <div class="card-header">Nombre total de livre</div>
        <div class="card-body">
          <h5 class="card-title">
            {{ this.getNbrBook() }}
          </h5>
        </div>
      </div>

      <div class="card bg-light mb-3 col">
        <div class="card-header">Nombre total de sort</div>
        <div class="card-body">
          <h5 class="card-title">
            {{ this.getNbrAllSpell() }}
          </h5>
        </div>
      </div>
    </div>

    <div class="card bg-light mb-3 col">
      <div class="card-header">Graphique</div>
      <div class="card-body">
        <h5 class="card-title">
          <div v-for="spell in this.schoolsName" :key="spell" class="progress mt-2">
            <div class="progress-bar" role="progressbar" style="text-align: left;" v-bind:style="{ width: getNbrSpellFromSchool(spell) * 100 / getNbrAllSpell() + '%'}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            <span class="mx-2">{{ spell }} : {{ getNbrSpellFromSchool(spell) }} / {{ getNbrAllSpell() }} => {{ parseFloat(getNbrSpellFromSchool(spell) * 100 / getNbrAllSpell()).toFixed(2) + '%' }}</span>
          </div>
        </h5>
      </div>
    </div>

  </section>
</template>

<script>
export default {
  name: "Stats",
  props: ['spellTable', 'booksName', 'schoolsName'],
  data() {
    return {
      bookKey: "MJ",
      schoolKey: "Evocation"
    }
  },
  methods: {
    getNbrSpellFromColumn(index, name) {
      return (this.spellTable.filter(elem => elem[index] === name)).length;
    },
    getNbrSpellFromBook(bookName) {
      return this.getNbrSpellFromColumn(0, bookName);
    },
    getNbrSpellFromSchool(schoolName) {
      return this.getNbrSpellFromColumn(2, schoolName);
    },
    getNbrBook() {
      return (this.booksName).length;
    },
    getNbrAllSpell() {
      return this.spellTable.length;
    }
  }
}
</script>

<style scoped>

</style>