<template>
  <div id="app" class="container-fluid">
    <Nav/>
    <br>
    <Home v-if="page === 'home'"/>
    <Search v-else-if="page === 'search'" v-bind:booksName="booksName" v-bind:headTable="headTableSearch"
            v-bind:schoolsName="schoolsName" v-bind:spellTable="spellTable"/>
    <Settings v-else-if="page === 'settings'" v-bind:booksName="booksName" v-bind:spellTable="spellTable"/>
    <Stats v-else-if="page === 'stats'" v-bind:booksName="booksName" v-bind:schoolsName="schoolsName"
           v-bind:spellTable="spellTable"/>
  </div>
</template>

<script>
import Nav from "@/components/Nav";
import Home from "@/components/Home"
import Search from "@/components/Search";
import Settings from "@/components/Settings";
import Stats from "@/components/Stats";
import {sortTable} from "../public/data.min.js";

export default {
  name: 'App',
  components: {Nav, Home, Search, Settings, Stats},
  data() {
    return {
      spellTable: sortTable,
      page: 'home',
      booksName: [],
      schoolsName: [],
      headTableSearch: ['Titre du Livre', 'Nom du Sort', 'École', 'Caractéristiques', 'Classes et niveaux', 'Composantes', 'Temps', 'Portée', 'Description', 'Durée', '10', '11']
    }
  },
  mounted() {
    // Initialisation des différents nom de livre disponible
    this.booksName = this.getColumnFromSpell(0);
    this.schoolsName = this.getColumnFromSpell(2);
  },
  methods: {
    getColumnFromSpell(column) {
      let tableSpellColumn = [];
      this.spellTable.forEach(element => {
        tableSpellColumn.push(element[column]);
      });
      // On effectue array_uniq sur le tableau
      return [...new Set(tableSpellColumn)];
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
